@font-face {
font-family: 'Verdana';
src: url(../fonts/Verdana.eot);
src: url(../fonts/Verdana.eot) format('embedded-opentype'),
url(../fonts/Verdana.woff2) format('woff2'),
url(../fonts/Verdana.woff) format('woff'),
url(../fonts/Verdana.ttf) format('truetype'),
url(../fonts/Verdana.svg) format('svg');
}
@font-face {
font-family: 'helvetica';
src: url(../fonts/helvetica.eot);
src: url(../fonts/helvetica.eot) format('embedded-opentype'),
url(../fonts/helvetica.woff2) format('woff2'),
url(../fonts/helvetica.woff) format('woff'),
url(../fonts/helvetica.ttf) format('truetype'),
url(../fonts/helvetica.svg) format('svg');
}

body{
font-family: 'Verdana' !important;
background: #c8edfb;
font-size: 14px !important;
line-height: 24px !important;
color: #333333 !important;
margin: 0;
padding: 0;
}
p{
font-family: 'Verdana' !important;
font-size: 14px;
color: #333333;
line-height: 22px !important;
}
h1, h2, h3, h4, h5, h6{
font-family: 'helvetica' !important;
color: #333;
}



/******************************/
/* header                     */
/******************************/

.top-bar{
  background-color: #42b0da;
  width:100%;

}

/*******************************/
/* body                        */
/*******************************/

.content {
  color:black;
}

button{
  background-color: 3fbbf1;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 8px;
  box-shadow: none;
}

button:hover{
  background-color: #3896bb;
  transition: all 1s ease;
}


.kurs-content{
  width: 1280px;
  margin: 0 auto;
}
a{
  font-size: 22px;
  color: #0073aa;
  text-decoration: none;
}
.h3{
  font-family: 'helvetica';
}

/***********************************/
/* footer                          */
/***********************************/

.footer-div {

   width: 100%;
   background-color: #537598

 }

 .footer-grid {
   display:grid;
   grid-template-columns:15% auto auto auto 15%;
 }
p {
  color: white;
  text-align: left;
  font-family: 'Verdana';
  font-size:14px;
  line-height: 22px;
}
li {
  list-style: none;
  color:white;



}
.test{
  min-height: 90vh;
}
